[submodule "cloud-native-handbook"]
	path = cloud-native-handbook
	url = https://github.com/JinsYin/cloud-native-handbook.git
[submodule "quickstarts.io"]
	path = quickstarts.io
	url = git@github.com:JinsYin/quickstarts.io.git
[submodule "knowledge-base"]
	path = knowledge-base
	url = git@github.com:JinsYin/knowledge-base.git
[submodule "notes"]
	path = notes
	url = git@github.com:JinsYin/notes.git
[submodule "template/gitbook-template"]
	path = template/gitbook-template
	url = git@github.com:JinsYin/gitbook-template.git
[submodule "template/writing-template"]
	path = template/writing-template
	url = git@github.com:JinsYin/writing-template.git
[submodule "template/coding-template"]
	path = template/coding-template
	url = git@github.com:JinsYin/coding-template.git
[submodule "theme/rustbook"]
	path = theme/rustbook
	url = git@github.com:JinsYin/rustbook.git
[submodule "theme/jbook"]
	path = theme/jbook
	url = git@github.com:JinsYin/jbook.git
[submodule "letscode"]
	path = letscode
	url = git@github.com:JinsYin/letscode.git
[submodule "private"]
	path = private
	url = git@github.com:JinsYin/private.git
[submodule "x"]
	path = x
	url = git@github.com:JinsYin/x.git
